[submodule "core"]
	path = core
	url = git://github.com/koopjs/koop-core.git
[submodule "caches/elasticsearch"]
	path = caches/elasticsearch
	url = git://github.com/koopjs/koop-escache.git
[submodule "caches/postgis"]
	path = caches/postgis
	url = git://github.com/koopjs/koop-pgcache.git
[submodule "caches/redis"]
	path = caches/redis
	url = git://github.com/koopjs/koop-cache-redis.git
[submodule "caches/memory"]
	path = caches/memory
	url = git://github.com/koopjs/koop-cache-memory.git
[submodule "filesystems/aws-s3"]
	path = filesystems/aws-s3
	url = git://github.com/koopjs/koop-filesystem-s3.git
[submodule "filesystems/local"]
	path = filesystems/local
	url = git://github.com/koopjs/koop-filesystem-local.git
[submodule "experiments/polygon-geocoder"]
	path = experiments/polygon-geocoder
	url = git://github.com/koopjs/koop-plugin-reverse-geocoder.git
[submodule "experiments/ui"]
	path = experiments/ui
	url = git://github.com/koopjs/koop-ui.git
[submodule "plugins/logger"]
	path = plugins/logger
	url = git://github.com/koopjs/koop-logger.git
[submodule "plugins/queue"]
	path = plugins/queue
	url = git://github.com/koopjs/koop-queue.git
[submodule "plugins/worker"]
	path = plugins/worker
	url = git://github.com/koopjs/koop-worker.git
[submodule "plugins/exporter"]
	path = plugins/exporter
	url = git://github.com/koopjs/koop-exporter.git
[submodule "plugins/geoservices"]
	path = plugins/geoservices
	url = git://github.com/koopjs/koop-output-geoservices.git
[submodule "documentation/homepage"]
	path = documentation/homepage
	url = git://github.com/koopjs/koopjs.github.io.git
[submodule "documentation/api"]
	path = documentation/api
	url = git://github.com/koopjs/koop-api.git
[submodule "yelp"]
	path = providers/yelp
	url = git://github.com/koopjs/koop-provider-yelp.git
[submodule "arcgis-portal"]
	path = providers/arcgis-portal
	url = git://github.com/koopjs/koop-provider-agol.git
[submodule "arcgis-opendata"]
	path = providers/arcgis-opendata
	url = git://github.com/koopjs/koop-opendata.git
[submodule "portland-trimet"]
	path = providers/portland-trimet
	url = git://github.com/koopjs/koop-trimet.git
[submodule "us-fda"]
	path = providers/us-fda
	url = git://github.com/koopjs/koop-fda.git
[submodule "socrata"]
	path = providers/socrata
	url = git://github.com/koopjs/koop-socrata.git
[submodule "github"]
	path = providers/github
	url = git://github.com/koopjs/koop-github.git
[submodule "github-gist"]
	path = providers/github-gist
	url = git://github.com/koopjs/koop-gist.git
[submodule "ckan"]
	path = providers/ckan
	url = git://github.com/koopjs/koop-ckan.git
[submodule "us-american-community-survey"]
	path = providers/us-american-community-survey
	url = git://github.com/koopjs/koop-acs.git
[submodule "OpenStreetMap"]
	path = providers/OpenStreetMap
	url = git://github.com/koopjs/koop-osm.git
[submodule "us-census"]
	path = providers/us-census
	url = git://github.com/koopjs/koop-census.git
[submodule "geocommons"]
	path = providers/geocommons
	url = git://github.com/koopjs/koop-geocommons.git
[submodule "mongodb"]
	path = providers/mongodb
	url = git://github.com/koopjs/koop-mongo.git
[submodule "vrbo"]
	path = providers/vrbo
	url = git://github.com/koopjs/koop-vrbo.git
[submodule "experiments/o.skoop.m"]
	path = experiments/o.skoop.m
	url = git://github.com/koopjs/o.skoop.m.git
[submodule "samples/docker-app"]
	path = samples/docker-app
	url = git://github.com/koopjs/koop-docker-example.git
[submodule "samples/app"]
	path = samples/app
	url = git://github.com/koopjs/koop-sample-app.git
[submodule "samples/provider"]
	path = samples/provider
	url = git://github.com/koopjs/koop-sample-provider.git
[submodule "samples/tiles-app"]
	path = samples/tiles-app
	url = git://github.com/koopjs/koop-tiles-app.git
[submodule "samples/elasticsearch-app"]
	path = samples/elasticsearch-app
	url = git://github.com/koopjs/koop-elasticsearch-app.git
[submodule "plugins/tiles"]
	path = plugins/tiles
	url = git://github.com/koopjs/koop-tile-plugin.git
