{
    "all": true,
    "include": [
        "packages/winnow/src/**/*.js",
        "packages/featureserver/src/**/*.js",
        "packages/cache-memory/src/**/*.js",
        "packages/logger/src/**/*.js",
        "packages/output-geoservices/src/**/*.js",
        "packages/koop-core/src/**/*.js"
    ],
    "exclude": ["**/*.spec.js"],
    "includeAllSources": true
}