{
    "all": true,
    "include": [
        "packages/winnow/src/**/*.js",
        "packages/winnow/index.js",
        "packages/featureserver/src/**/*.js",
        "packages/featureserver/index.js",
        "packages/koop-cache-memory/**/*.js",
        "packages/koop-logger/**/*.js"
    ],
    "exclude": ["**/*.spec.js"],
    "includeAllSources": true,
    "cwd": "../.."
}