input.sample-input {
  width: 225px;
  float:left;
  margin-right: 10px;
}

.box {
  border: 1px solid #777;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  margin: 10px;
}
