input.sample-input {
  margin-bottom: 10px;
}

.box {
  border: 1px solid #777;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  margin: 10px;
}

.load-form {
  position: absolute;
  width:300px; 
  top: 10px;
  left:45px;
}
