
<div id="map"></div>
  <div class="load-form">
    <input type="text" id="dataid" class="form-control pull-left" placeholder="Enter a Geocommons Dataset ID" style="width:200px">
    <button class="btn btn-primary pull-right" onClick="load()">Load</button>
  </div>

<script>

  function load(){
    var val = document.getElementById('dataid').value;
    if ( val ) {
      location.href = '/geocommons/' + val + '/preview';
    }
  }

  $(function(){
    var mapDom = 'map';
    $('#'+mapDom).css({ width:document.width, height: document.height });
    var koop = koopMap( mapDom );
  });

</script>

