# Default config
server:
  port: 1337

logfile: '/var/log/koop.log'

# the local dir for storing tile files  
data_dir: '/usr/local/koop/'
  
# for accessing github 
github_token: 'XXXXXXXXXXXXXXXXXX'


#### Database config ####

# the connection to your PostGIS enabled database 
#db: 
#  postgis: 
#    conn: "postgres://localhost/koopdev"

# for local development you can use Spatialite 
db:
  sqlite:
    filename: ':memory:'
