name: Test and Release on merge to main

on:
  push:
    branches:
     - main

jobs:
  merge_job:
    # this job will only run if the PR has been merged with 'Automated merge pull request'
    if: startsWith(github.event.head_commit.message, 'Merge pull request')
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
  
    - name: Get repo tags
      run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

    - uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install npm 7
      run: npm i -g npm@7 --registry=https://registry.npmjs.org
      
    - name: NPM install
      run: npm ci

    - name: Set Github identity
      run: |
        git config --global user.email "github-actions@ci.com"
        git config --global user.name "CI Agent"

    - name: "Set NPM identity"
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc

    - name: Release
      run: npm run release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  