name: Test and release on pushed changeset to master

on:
  push:
    branches:
      - master
    paths:
      - ".changeset/*.md"

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - name: Checkout
      uses: actions/checkout@v3
  
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install npm 7
      run: npm i -g npm@7 --registry=https://registry.npmjs.org
      
    - name: NPM install
      run: npm ci

    - name: Set Github identity
      run: |
        git config --global user.email "github-actions@ci.com"
        git config --global user.name "CI Agent"

    - name: Set NPM identity
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc

    - name: Version
      run: npm run version
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Git add and commit
      run: "git add --all && git commit -m 'chore: version and changelog' --no-verify"

    - name: Push versioning changes
      run: git push origin master --follow-tags --no-verify
    
    - name: Publish to NPM
      run: npm run release:npm

    - name: Push versioning changes
      run: git push origin master --follow-tags --no-verify

    - name: Github release
      run: npm run release:github
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Remove .npmrc artifact
      if: always()
      run: rm .npmrc